* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-weight: 400
}

@font-face {
    font-family: 'Snowboarding';
    src: url('fonts/Snowboarding.woff2') format('woff2'),
         url('font/Snowboarding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f5f5f5;
    font-size: 1em
}

body,
ul,
h1,
h2,
h3 {
    margin: 0;
    padding: 0
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #666;
    margin: 40px 0
}

h3 {
    font-weight: 500
}

ul {
    list-style: none
}

a,
a:visited {
    color: #000
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.body,
.logo-section,
.welcome-section,
.logo,
.info,
.about-section,
.works-section,
.contact-section,
.copyright {
    display: flex;
    flex-direction: column;
}

.made {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.logo-section,
.welcome-section,
.logo,
.about-section,
.works-section,
.contact-section,
.copyright,
.made {
    align-items: center
}

.logo-section {
    margin-top: 3em;
}

.logo {
    font-family: 'Snowboarding';
    font-size: 6em;
    color: tomato;
    text-align: center;
    width: 200px;
    line-height: .4;
}

.about-section {
    padding: 30px 30px 0
}

.about-section p {
    font-size: 1.1em;
    color: #666
}

.icon {
    width: 60px;
    padding: 10px;
    fill: #fff;
    background: #000;
    border-radius: 50%;
    margin: 10px;
    transition: background 1s, transform .5s
}

.articles {
    display: flex;
    flex-wrap: wrap;
    max-width: 98%;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex: 1 300px;
    padding: 20px 30px;
    background: #fff;
    margin: 20px;
    font-size: 1em;
    transition: all .5s
}

.article a {
    display: block;
    padding: 10px;
    text-decoration: underline;
}

.contact-section {
    margin-bottom: 60px
}

.copyright {
    margin-bottom: 30px
}

.copyright a {
    text-decoration: none
}

.copyright p {
    font-size: .9em
}

.submark {
    width: 24px;
    margin-left: 10px
}

@media (min-width: 769px) {
    .info {
        justify-content: center;
        flex-direction: row
    }
    .info li {
        padding: 20px
    }
    .article:hover {
        transform: scale(1.1);
        box-shadow: 0 18px 18px rgba(0, 0, 0, 0.3)
    }
    .icon:hover {
        transform: scale(1.2)
    }
    .facebook:hover {
        background: #3b5998
    }
    .twitter:hover {
        background: #0084b4
    }
    .mail:hover {
        background: #f60
    }
    .copyright {
        padding: 0 30px;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        min-height: 60px
    }
}
